

$purple: #7E7394;
$darkPurple:#524153;
$darkPurple2:#535662;
$ligthPurple:#B4ADBE;
$text:#FFF;
$lighBlue:#49DBDF;
$lightRed:#F25D52;
$add:#3AA05B;



// Mixins

@mixin pagination {
    color: $text;
    border: solid #000;
    border-radius: 10px;
    // width: 40px;
    font-weight: 400;
    margin:0px 5px;
    line-height: 33px;
}
.header{
    &-login{
        
        &-btn{
            background-color: $purple;
            color: $text;
            border: solid #000;
            border-radius: 10px;
            font-weight: 400;
            margin:0px 5px;
            line-height: 33px;
        }
    }
    &-search{
        width: 60%;
        height: 55px;
        border-radius: 10px;
        border:0px;
    }
    &-logo{
        max-width: 15%;
        &-img{
            width: 100%;
        }
    }
}
.home{
    text-align: center;

    &-header{
        background-color: $darkPurple;
        height: 86px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    &-main{
        background-color: #E0D7EC;
        padding: 50px;
        padding-top:0px;
    }
}
@import './pokemon.scss';

@import './typeFilter.scss';
  
@import './carousel.scss';
@import './favdex.scss';